* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bangers', cursive;
    letter-spacing: 0.2em;
    color: #6c6eff;
    background-color: #000000;
}

.header-block {
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo-href {
    color: #6c6eff;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s;
}

.logo-href:hover {
    color: #6cff8c;
    transition: 0.3s;
}

.main-block {
    width: 1000px;
    margin: 15px auto 95px;
    border: 2px solid #ffffff;
    padding: 15px 15px;
}

li {
    margin-left: 20px;
}

li a {
    text-decoration: none;
    color: #6cff8c;
    transition: 0.3s;
}

li a:hover {
    color: #ff6565;
    transition: 0.3s;
}

.footer {
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
}

.footer-block {
    margin: 0 auto;
    display: flex;
    width: 1000px;
    height: 80px;
    border: 2px solid #ffffff;
    align-items: center;
    padding: 0 20px;
    justify-content: end;

}
