 /*Выберите абзацы <p> внутри дивов <div>*/
 div p { 
 	color: #e992e4;
 }
 /*вес селектора - 0 0 0 2*/


 /*Выберите все <h2> внутри дивов <div>*/
 div h2 {
	 font-family: Arial, Helvetica, sans-serif;
 }
  /*вес селектора - 0 0 0 2*/


 /*Выберите все абзацы <p> из элемента с id=test*/
 #test p {
	 font-size: 25px;
 }
   /*вес селектора - 0 1 0 1*/

 /*Выберите все <h2> из элемента с id=test*/
 #test h2 {
	 font-style: italic;
 }
    /*вес селектора - 0 1 0 1*/

 /*Выберите все элементы с классом bbb*/
 .bbb {
	 font-weight: bold;
 }
     /*вес селектора - 0 0 1 0*/

 /*Выберите все элементы с классом bbb из элемента с id=test*/
 #test .bbb {
	 text-transform: uppercase;
 }
      /*вес селектора - 0 1 1 0*/

 /*Выберите все абзацы <p> с классом bbb*/
 p.bbb {
	 text-decoration: underline;
 }
       /*вес селектора - 0 0 1 1*/

 /*Выберите все <h2> с классом bbb*/
 h2.bbb {
	text-shadow: 4px 4px 5px #90dba6;
 }
        /*вес селектора - 0 0 1 1*/

 /*Выберите все абзацы <p> с классом bbb из элемента с id=test*/
 #test p.bbb {
	line-height: 1.6;
 }
        /*вес селектора - 0 1 1 1*/


 /*Выберите все элементы с классом bbb и элементы с классом xxx одновременно*/
 .bbb, .xxx { 
 	background: #fd95b6;
 }
 /*вес селектора - 0 0 1 0*/

 /*Выберите все абзацы <p> с классом bbb и <h2> с классом xxx одновременно*/
 p.bbb, h2.xxx {
	word-spacing: 4px;
 }
  /*вес селектора - 0 0 1 1*/

 /*Выберите все абзацы <p> с классом bbb из id=test и все абзацы <p> с классом xxx из id=test одновременно*/
 #test p.bbb, #test p.xxx {
	letter-spacing: 4px;
 }
   /*вес селектора - 0 1 1 1*/

 /*Выберите все элементы из класса fff*/
 .fff {
	 background-color: #f8f89b;
 }
    /*вес селектора - 0 0 1 0*/

 /*Выберите все абзацы <p> из класса fff*/
 .fff p {
	 font-size: 40px;
 }
    /*вес селектора - 0 0 1 1*/

 /*Выберите все абзацы <p> с классом fff*/
 p.fff {
	 color: green;
 }
    /*вес селектора - 0 0 1 1*/

 /*Выберите все элементы с классом bbb из класса fff*/
 .fff .bbb {
	 border: 5px double #502323;
 }
    /*вес селектора - 0 0 2 0*/

 /*Выберите все <h2> с классом bbb из класса fff*/
 .fff h2.bbb {
	 font-style: italic;
 }
    /*вес селектора - 0 0 2 1*/